# datasource configuration properties.
spring.datasource.url=jdbc:oracle:thin:@localhost:1521:xe
spring.datasource.username=**usernamehere**
spring.datasource.password=**userpasswordhere**
spring.datasource.driver-class-name=oracle.jdbc.driver.OracleDriver
